body{
text-align:center;


}
.login-box {
width:250px;
float:none;

margin-top:100px;
}
.login-left {
background:rgba(211,211,211,0.1);
padding:20px;
}
.login-right {
background:rgba(211,211,211,0.12);
padding:20px;
}
.form-control {
background-color:transparent !important; }